@import url("https://fonts.googleapis.com/css?family=Fugaz+One|Oxygen:300|Quicksand&display=swap");
@font-face {
  font-family: "Franchise";
  src: url("//db.onlinewebfonts.com/t/e5f2f90ef20309de329a7d174c3d2245.eot");
  src: url("//db.onlinewebfonts.com/t/e5f2f90ef20309de329a7d174c3d2245.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/e5f2f90ef20309de329a7d174c3d2245.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/e5f2f90ef20309de329a7d174c3d2245.woff") format("woff"), url("//db.onlinewebfonts.com/t/e5f2f90ef20309de329a7d174c3d2245.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/e5f2f90ef20309de329a7d174c3d2245.svg#Franchise") format("svg");
}

html {
  overflow-y: scroll;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body {
  background-color: #f1ebdb;
  font-family: Quicksand;
}

h1,
h2,
h3 {
  font-family: Franchise;
  color: #707070;
}

a {
  text-decoration: none;
  color: black;
}

i {
  border-color: #c69c6d !important;
}

.App {
  min-height: 100vh;
  position: relative;
}

.App .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 8px;
}

.App .nav .logo {
  height: 76px;
}

.App .nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: Oxygen;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .nav .links a {
  text-decoration: none;
  color: black;
}

.App .nav img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.App .section {
  min-height: 100vh;
}

.App .section h1 {
  text-align: center;
}

.App .hero {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("./images/hero.jpg");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("./images/hero.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .hero .logo {
  height: 244px;
}

.App .hero h1,
.App .hero p,
.App .hero h2 {
  margin: 0;
}

.App .hero h2 {
  font-size: 5em;
  text-transform: uppercase;
  color: rgba(90, 85, 85, 0.774);
}

.App .hero h1 {
  color: rgba(255, 255, 255, 0.6);
  font-size: 6em;
  text-transform: uppercase;
}

.App .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center;
  padding: 16px;
}

.App .about .about-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.App .about .about-info img {
  width: 350px;
  height: auto;
  border-radius: 0.5em;
}

.App .about .about-info .about-text h1 {
  text-transform: uppercase;
  font-size: 3em;
}

.App .about .about-info .about-text p {
  font-family: Quicksand;
  font-size: 1.5em;
  text-align: center;
}

.App .about .about-company h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: red;
  color: #fff;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 0.4em;
}

.App .about .about-company h1 span {
  font-size: 1.5em;
}

.App .services,
.App .insurance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .services .service-icons,
.App .insurance .service-icons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (400px)[1];
      grid-template-columns: repeat(1, 400px);
  grid-gap: 24px;
}

.App .services .service-icons .serv-block,
.App .insurance .service-icons .serv-block {
  border: 4px dashed #c69c6d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .services .service-icons .serv-block img,
.App .insurance .service-icons .serv-block img {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.App .services .service-icons .serv-block span,
.App .insurance .service-icons .serv-block span {
  color: #707070;
  text-transform: uppercase;
  font-size: 2.5em;
}

.App .services h1,
.App .insurance h1 {
  font-size: 64px;
}

.App .insurance h1 {
  color: #707070;
  text-transform: uppercase;
}

.App .insurance h3 {
  font-family: Oxygen;
  text-transform: uppercase;
}

.App .insurance .ins-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
  grid-gap: 20px;
}

.App .insurance .ins-grid .ins-block {
  border: 4px dashed #c69c6d;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
}

.App .insurance .ins-grid .ins-block img {
  height: 150px;
}

.App .insurance .ins-grid .ins-block span {
  color: #707070;
  font-size: 20px;
  font-family: Oxygen;
  font-weight: bold;
  text-align: center;
}

.App .partners {
  min-height: 60vh;
}

.App .partners h1 {
  color: #707070;
  text-transform: uppercase;
  font-size: 64px;
}

.App .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150vh;
}

.App .contact div:nth-child(3) {
  position: relative !important;
  height: 30% !important;
}

.App .contact .contact-form {
  padding: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.App .contact .contact-form button {
  border: none;
  padding: 8px;
  background-color: #c69c6d;
  color: #707070;
  font-weight: bold;
  margin: 16px;
}

.App .contact .contact-form h1 {
  font-size: 64px;
}

.App .contact .contact-form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 16px;
  width: 38vw;
}

.App .contact .contact-form .form-group input,
.App .contact .contact-form .form-group textarea {
  padding: 8px;
  background: none;
  border: 1px dashed #707070;
}

.App .contact .contact-form .form-group textarea {
  height: 100px;
}

.App .contact .contact-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .contact .contact-info button {
  border: none;
  padding: 8px;
  background-color: #c69c6d;
  color: #707070;
}

.book {
  border: none;
  padding: 8px;
  background-color: #c69c6d;
  color: #707070;
}

.partners .InfiniteCarouselFrame img {
  width: 400px;
  height: auto;
}

.partners .InfiniteCarouselFrame ul {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  background-color: #c69c6d;
  width: 100%;
  color: #707070;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer div {
  margin: 8px;
}

.footer div p {
  padding: 8px;
}

.footer div a svg {
  padding-right: 8px;
  color: #707070;
}

.footer div ul {
  list-style-type: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  padding: 8px;
}

.footer div .footer-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: bold;
}

.footer div .footer-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2] !important;
      grid-template-columns: repeat(2, 1fr) !important;
  grid-gap: 8px;
}

.gallery {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}

.gallery .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery .category h3 {
  font-size: 4em;
  text-transform: uppercase;
}

.gallery .category .image-cat {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-gap: 4px;
  -ms-grid-columns: (500px)[3];
      grid-template-columns: repeat(3, 500px);
}

.gallery .category .image-cat img {
  width: 500px;
  height: auto;
}
/*# sourceMappingURL=App.css.map */