@import url("https://fonts.googleapis.com/css?family=Fugaz+One|Oxygen:300&display=swap");
html {
  overflow-y: scroll;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body {
  background-color: #f1ebdb;
}

.App {
  min-height: 100vh;
  position: relative;
  font-family: Fugaz One;
}

.App .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 24px;
}

.App .nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: Oxygen;
}

.App .nav img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.App .section {
  min-height: 100vh;
}

.App .hero {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("./images/hero.jpg");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("./images/hero.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .hero h1,
.App .hero p,
.App .hero h2 {
  margin: 0;
}

.App .hero h2 {
  font-size: 7em;
  text-transform: uppercase;
  color: rgba(90, 85, 85, 0.774);
}

.App .hero h1 {
  color: rgba(255, 255, 255, 0.6);
  font-size: 9em;
  text-transform: uppercase;
}

.App .hero p {
  font-size: 2em;
  font-family: Oxygen;
  color: white;
}

.App .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 128px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .about .about-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 52px;
}

.App .about .about-text h1 {
  text-transform: uppercase;
}

.App .about .about-text p {
  font-family: Oxygen;
  font-size: 24px;
}

.App .about img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 500px;
  border-radius: 0.5em;
}

.App .services,
.App .insurance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .services .service-icons,
.App .insurance .service-icons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px;
}

.App .services .service-icons .serv-block,
.App .insurance .service-icons .serv-block {
  border: 4px dashed #c69c6d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .services .service-icons .serv-block img,
.App .insurance .service-icons .serv-block img {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.App .services .service-icons .serv-block span,
.App .insurance .service-icons .serv-block span {
  color: #707070;
  text-transform: uppercase;
  font-size: 2.5em;
}

.App .services h1,
.App .insurance h1 {
  font-size: 64px;
  color: #707070;
  text-transform: uppercase;
}

.App .insurance h3 {
  font-family: Oxygen;
  text-transform: uppercase;
}

.App .insurance .ins-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
}

.App .insurance .ins-grid .ins-block {
  border: 4px dashed #c69c6d;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
}

.App .insurance .ins-grid .ins-block img {
  height: 150px;
}

.App .insurance .ins-grid .ins-block span {
  font-size: 20px;
  font-family: Oxygen;
}

.App .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 64px;
}

.App .contact .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.App .contact .contact-form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 16px;
  width: 40vw;
}

.App .contact .contact-form .form-group input,
.App .contact .contact-form .form-group textarea {
  padding: 8px;
  background: none;
  border: 1px dashed #707070;
}

.App .contact .contact-form .form-group textarea {
  height: 100px;
}

.App .contact .contact-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer {
  font-family: Oxygen;
  background-color: #7b7a67;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partners .InfiniteCarouselFrame img {
  width: 400px;
  height: auto;
}

.partners .InfiniteCarouselFrame ul {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
/*# sourceMappingURL=App.css.map */