@import url("https://fonts.googleapis.com/css?family=Fugaz+One|Oxygen:300|Quicksand&display=swap");
@font-face {
  font-family: "Franchise";
  src: url("//db.onlinewebfonts.com/t/e5f2f90ef20309de329a7d174c3d2245.eot");
  src: url("//db.onlinewebfonts.com/t/e5f2f90ef20309de329a7d174c3d2245.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/e5f2f90ef20309de329a7d174c3d2245.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/e5f2f90ef20309de329a7d174c3d2245.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/e5f2f90ef20309de329a7d174c3d2245.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/e5f2f90ef20309de329a7d174c3d2245.svg#Franchise")
      format("svg");
}
html {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
html::-webkit-scrollbar {
  width: 0;
  height: 0;
}
body {
  background-color: #f1ebdb;
  font-family: Quicksand;
}
h1,
h2,
h3 {
  font-family: Franchise;
  color: #707070;
}
a {
  text-decoration: none;
  color: black;
}
i {
  border-color: #c69c6d !important;
}
.App {
  min-height: 100vh;
  position: relative;
  .nav {
    display: flex;
    justify-content: space-around;
    padding: 8px;
    .logo {
      height: 76px;
    }
    .links {
      display: flex;
      flex: 1;
      justify-content: space-evenly;
      font-family: Oxygen;
      align-items: center;
      a {
        text-decoration: none;
        color: black;
      }
    }
    img {
      flex: 1;
    }
  }
  .section {
    min-height: 100vh;
  }
  .hero {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url("./images/hero.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .logo {
      height: 244px;
    }
    h1,
    p,
    h2 {
      margin: 0;
    }
    h2 {
      font-size: 7em;
      text-transform: uppercase;
      color: rgba(90, 85, 85, 0.774);
    }
    h1 {
      color: rgba(255, 255, 255, 0.6);
      font-size: 9em;
      text-transform: uppercase;
    }
    p {
      font-size: 2em;
      font-family: Quicksand;
      color: white;
    }
  }
  .about {
    display: flex;
    justify-content: center;
    padding: 128px;
    align-items: center;
    .about-text {
      flex: 1;
      padding: 52px;
      h1 {
        text-transform: uppercase;
        font-size: 48px;
      }
      p {
        font-family: Quicksand;
        font-size: 24px;
      }
    }

    img {
      flex: 1;
      height: 500px;
      border-radius: 0.5em;
    }
  }

  .services,
  .insurance {
    display: flex;
    flex-direction: column;
    align-items: center;
    .service-icons {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 24px;
      .serv-block {
        border: 4px dashed #c69c6d;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        img {
          transform: scale(0.8);
        }
        span {
          color: #707070;
          text-transform: uppercase;
          font-size: 2.5em;
        }
      }
    }
    h1 {
      font-size: 64px;
    }
  }
  .insurance {
    h1 {
      color: #707070;
      text-transform: uppercase;
    }
    h3 {
      font-family: Oxygen;
      text-transform: uppercase;
    }
    .ins-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 20px;
      .ins-block {
        border: 4px dashed #c69c6d;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 16px;
        img {
          height: 150px;
        }
        span {
          //width: 4em;
          font-size: 20px;
          font-family: Oxygen;
        }
      }
    }
  }
  .partners {
    min-height: 60vh;
    h1 {
      color: #707070;
      text-transform: uppercase;
      font-size: 64px;
    }
  }
  .contact {
    div:nth-child(3) {
      position: relative !important;
      height: 30% !important;
    }
    display: flex;
    //padding: 64px;
    flex-direction: column;
    align-items: center;
    height: 150vh;
    .contact-form {
      padding: 32px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      button {
        border: none;
        padding: 8px;
        background-color: #c69c6d;
        color: #707070;
        font-weight: bold;
        margin: 16px;
      }
      h1 {
        font-size: 64px;
      }
      .form-group {
        display: flex;
        flex-direction: column;
        margin: 16px;
        width: 38vw;
        input,
        textarea {
          padding: 8px;
          background: none;
          border: 1px dashed #707070;
        }
        textarea {
          height: 100px;
        }
      }
      flex: 1;
    }
    .contact-info {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      button {
        border: none;
        padding: 8px;
        background-color: #c69c6d;
        color: #707070;
      }
    }
  }
}

.book {
  border: none;
  padding: 8px;
  background-color: #c69c6d;
  color: #707070;
}

.partners {
  .InfiniteCarouselFrame {
    img {
      width: 400px;
      height: auto;
    }
    ul {
      display: flex !important;
      align-items: center;
    }
  }
}

.footer {
  background-color: #c69c6d;

  width: 100%;
  //height: 2.5rem;
  color: #707070;
  display: flex;
  justify-content: space-evenly;
  div {
    margin: 8px;
    a {
      svg {
        padding-right: 8px;
        color: #707070;
      }
    }

    ul {
      list-style-type: none;
      padding-inline-start: 0;
    }
    .footer-header {
      display: flex;
      flex-direction: column;
      font-weight: bold;
    }
    .footer-info {
      display: grid;
      grid-template-columns: repeat(2, 1fr) !important;
      grid-gap: 8px;
    }
  }
}

.gallery {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
  .category {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
      font-size: 4em;
      text-transform: uppercase;
    }
    .image-cat {
      width: 100%;
      display: grid;
      grid-gap: 4px;
      grid-template-columns: repeat(3, 500px);
      img {
        width: 500px;
        height: auto;
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  .ins-grid {
    grid-template-columns: repeat(2, 500px) !important;
  }
  .image-cat {
    grid-template-columns: repeat(3, 400px) !important;
    img {
      width: 400px !important;
    }
  }
  .partners {
    .InfiniteCarouselFrame {
      img {
        width: 300px;
      }
    }
  }
  .about {
    flex-direction: column;
    img {
      height: auto;
      width: 800px;
    }
  }
  .services {
    .service-icons {
      grid-template-columns: repeat(3, 350px) !important;
      .serv-block {
        img {
          transform: scale(0.6) !important;
        }
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  .image-cat {
    grid-template-columns: repeat(2, 1fr) !important;
    grid-gap: 1px !important;
    img {
      width: 205px !important;
    }
  }
  .App {
    .nav {
      .link {
        flex: 3 !important;
      }
      img {
        flex: 1;
      }
    }
    .hero {
      h1,
      h2 {
        font-size: 48px;
      }
      p {
        font-size: 20px;
        text-align: center;
      }
    }
    .about {
      flex-direction: column;
      padding: 24px;
      img {
        height: auto;
        width: 350px;
      }
      .about-text {
        padding: 8px;
        p {
          font-size: 20px;
        }
        h1 {
          text-align: center;
        }
      }
    }
    .services {
      h1 {
        font-size: 48px;
      }
      .service-icons {
        grid-template-columns: repeat(1, 300px);
        .serv-block {
          span {
            text-align: center;
          }
          img {
            transform: scale(0.5);
          }
        }
      }
    }
    .insurance {
      padding: 8px;
      span {
        text-align: center;
      }
      h1 {
        font-size: 30px;
      }
      .ins-grid {
        grid-template-columns: repeat(1, 1fr);
      }
    }
    .partners {
      .InfiniteCarouselFrame {
        img {
          width: 300px;
          height: auto;
        }
        ul {
          display: flex !important;
          align-items: center;
        }
      }
    }
    .contact {
      padding: 16px;
      flex-direction: column;
      .contact-info {
        button {
          width: 100%;
          margin-bottom: 16px;
        }
      }
      .contact-form {
        form {
          .form-group {
            width: 70vw;
          }
        }
      }
    }
  }
  .footer {
    display: flex !important;
    flex-direction: column !important;
    div {
      svg {
        padding-right: 24px;
      }
    }
  }
}
