@font-face {
  font-family: "Anton";
  src: url("//db.onlinewebfonts.com/t/0d4bd6300a54d19c5fc62fe7e07c48cb.eot");
  src: url("//db.onlinewebfonts.com/t/0d4bd6300a54d19c5fc62fe7e07c48cb.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/0d4bd6300a54d19c5fc62fe7e07c48cb.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/0d4bd6300a54d19c5fc62fe7e07c48cb.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/0d4bd6300a54d19c5fc62fe7e07c48cb.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/0d4bd6300a54d19c5fc62fe7e07c48cb.svg#Anton")
      format("svg");
}

@font-face {
  font-family: "Bebas Neue";
  src: url("//db.onlinewebfonts.com/t/ba65c7020043d1d406686743e82e2e5d.eot");
  src: url("//db.onlinewebfonts.com/t/ba65c7020043d1d406686743e82e2e5d.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/ba65c7020043d1d406686743e82e2e5d.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/ba65c7020043d1d406686743e82e2e5d.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/ba65c7020043d1d406686743e82e2e5d.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/ba65c7020043d1d406686743e82e2e5d.svg#Bebas Neue")
      format("svg");
}

@font-face {
  font-family: "Bebas Neue Regular";
  src: url("//db.onlinewebfonts.com/t/4c6ae0b5133c55f46cc12ae0f2d43941.eot");
  src: url("//db.onlinewebfonts.com/t/4c6ae0b5133c55f46cc12ae0f2d43941.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/4c6ae0b5133c55f46cc12ae0f2d43941.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/4c6ae0b5133c55f46cc12ae0f2d43941.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/4c6ae0b5133c55f46cc12ae0f2d43941.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/4c6ae0b5133c55f46cc12ae0f2d43941.svg#Bebas Neue Regular")
      format("svg");
}

html {
  overflow-x: hidden;
}

body {
  background-color: #f4f9fb;
  font-family: Anton;
  color: #111a2f;
}

a {
  text-decoration: none;
  color: #fff;
}
i {
  border-color: #c69c6d !important;
}

@media only screen and (min-width: 1024px) {
  .App {
    .nav {
      display: flex;
      justify-content: space-around;
      padding: 8px;
      position: absolute;
      top: 0;
      width: 100%;
      .links {
        width: 100%;
        .nav-logo {
          height: 124px;
        }
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        a {
          text-transform: uppercase;
          font-weight: bold;
          text-decoration: none;
          font-family: Bebas Neue Regular;
          color: #111a2f;
          margin: 8px;
          font-size: 24px;
        }
      }
    }
    min-height: 100vh;
    position: relative;
    .section {
      min-height: 100vh;
    }
    .hero {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 16px;
      h1,
      p,
      h2 {
        margin: 0;
      }
      .title {
        text-transform: uppercase;
        h1 {
          font-size: 12em;
        }
        h2 {
          font-size: 10em;
          color: #ef233c;
        }
      }
      .about-text {
        background-color: #ef233c;
        border-radius: 0.3em;
        color: #fff;
        width: 550px;
        padding: 36px;
        p {
          font-size: 2em;
          font-family: bebas neue;
        }
      }
    }
    .about {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      .about-first,
      .about-second {
        width: 80%;
        justify-content: space-between;
        padding: 36px;
        margin-bottom: 96px;
        .caption-first {
          align-items: flex-end;
          text-align: end;
        }
        .caption-first,
        .caption-second {
          display: flex;
          flex-direction: column;
          width: 700px;
          h2 {
            font-size: 4em;
            span {
              color: #ef233c;
            }
          }
          p {
            font-size: 1.5em;
          }
        }
        img {
          height: auto;
          width: 700px;
          border-radius: 0.5em;
        }
      }
      .about-first {
        display: flex;
      }
      .about-second {
        display: flex;
        flex-direction: row-reverse;
      }
    }
    .booking {
    }
    .services {
      display: flex;
      justify-content: center;
      .services-list {
        h1 {
          margin-top: 0;
        }
        ul {
          list-style-type: none;
          padding-left: 0;
          li {
            font-size: 2.5em;
            font-family: Bebas Neue;
            margin-bottom: 4px;
          }
        }
      }
      .service-icons {
        display: grid;
        grid-template-columns: repeat(3, 350px);
        grid-gap: 24px;
        .serv-block {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;
          img {
            //transform: scale(0.8);
            width: 300px;
            height: auto;
          }
          span {
            color: #707070;
            text-transform: uppercase;
            font-size: 2.5em;
          }
        }
      }
      h1 {
        font-size: 64px;
      }
    }
    .insurance {
      h1 {
        color: #707070;
        text-transform: uppercase;
      }
      h3 {
        font-family: Oxygen;
        text-transform: uppercase;
      }
      .ins-grid {
        display: grid;
        grid-template-columns: repeat(1, 350px);
        grid-template-rows: repeat(1, 1fr);
        grid-gap: 20px;
        .ins-block {
          border: 4px dashed #c69c6d;
          height: 200px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 16px;
          img {
            height: 150px;
          }
          span {
            //width: 4em;
            color: #707070;
            font-size: 20px;
            font-family: Oxygen;
            font-weight: bold;
            text-align: center;
          }
        }
      }
    }
    .partners {
      min-height: 60vh;
      h1 {
        color: #707070;
        text-transform: uppercase;
        font-size: 64px;
      }
    }
    .contact {
      div:nth-child(3) {
        position: relative !important;
        height: 30% !important;
      }
      display: flex;
      //padding: 64px;
      flex-direction: column;
      align-items: center;
      //height: 100vh;
      .contact-form {
        width: 100%;

        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        button {
          border: none;
          padding: 8px;
          background-color: #c69c6d;
          color: #707070;
          font-weight: bold;
          margin: 16px;
        }
        h1 {
          font-size: 64px;
        }
        .form-group {
          display: flex;
          flex-direction: column;
          margin: 16px;
          width: 80vw;
          input,
          textarea {
            padding: 8px;
            background: none;
            border: 1px dashed #707070;
          }
          textarea {
            height: 100px;
          }
        }
        flex: 1;
      }
      .contact-info {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        button {
          border: none;
          padding: 8px;
          background-color: #c69c6d;
          color: #707070;
        }
      }
    }
  }
}
form {
  width: 80%;
  .form-group {
    display: flex;
    padding: 4px;
    flex-direction: column;
    label {
      color: #fff;
    }
    input,
    select {
      font-size: 1.5em;
      border: none;
      border-radius: 0.1em;
    }
  }
}

.contact {
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    label {
      color: #181818;
    }
    button {
      width: 80%;
    }
  }
}

@media only screen and (min-width: 768px) {
}
