@font-face {
  font-family: "Anton";
  src: url("//db.onlinewebfonts.com/t/0d4bd6300a54d19c5fc62fe7e07c48cb.eot");
  src: url("//db.onlinewebfonts.com/t/0d4bd6300a54d19c5fc62fe7e07c48cb.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/0d4bd6300a54d19c5fc62fe7e07c48cb.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/0d4bd6300a54d19c5fc62fe7e07c48cb.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/0d4bd6300a54d19c5fc62fe7e07c48cb.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/0d4bd6300a54d19c5fc62fe7e07c48cb.svg#Anton")
      format("svg");
}

@font-face {
  font-family: "Bebas Neue";
  src: url("//db.onlinewebfonts.com/t/ba65c7020043d1d406686743e82e2e5d.eot");
  src: url("//db.onlinewebfonts.com/t/ba65c7020043d1d406686743e82e2e5d.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/ba65c7020043d1d406686743e82e2e5d.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/ba65c7020043d1d406686743e82e2e5d.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/ba65c7020043d1d406686743e82e2e5d.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/ba65c7020043d1d406686743e82e2e5d.svg#Bebas Neue")
      format("svg");
}

@font-face {
  font-family: "Bebas Neue Regular";
  src: url("//db.onlinewebfonts.com/t/4c6ae0b5133c55f46cc12ae0f2d43941.eot");
  src: url("//db.onlinewebfonts.com/t/4c6ae0b5133c55f46cc12ae0f2d43941.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/4c6ae0b5133c55f46cc12ae0f2d43941.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/4c6ae0b5133c55f46cc12ae0f2d43941.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/4c6ae0b5133c55f46cc12ae0f2d43941.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/4c6ae0b5133c55f46cc12ae0f2d43941.svg#Bebas Neue Regular")
      format("svg");
}

html {
  overflow-x: hidden;
}

body {
  background-color: #f4f9fb;
  font-family: Anton;
  color: #111a2f;
}

a {
  text-decoration: none;
  color: #fff;
}
i {
  border-color: #c69c6d !important;
}

@media only screen and (min-width: 1024px) {
  .App {
    .nav {
      display: flex;
      justify-content: space-around;
      padding: 8px;
      position: absolute;
      top: 0;
      width: 100%;
      .links {
        width: 100%;
        .nav-logo {
          height: 124px;
        }
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        a {
          text-transform: uppercase;
          font-weight: bold;
          text-decoration: none;
          font-family: Bebas Neue Regular;
          color: #111a2f;
          margin: 8px;
          font-size: 24px;
        }
      }
    }
    min-height: 100vh;
    position: relative;
    .section {
      min-height: 100vh;
      margin-bottom: 7em;
    }
    .hero {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 16px;
      h1,
      p,
      h2 {
        margin: 0;
      }
      .title {
        text-transform: uppercase;
        h1 {
          font-size: 12em;
        }
        h2 {
          font-size: 10em;
          color: #ef233c;
        }
      }
      .about-text {
        background-color: #ef233c;
        box-shadow: 0.625rem 2.75rem 3.375rem 0 rgba(217, 4, 41, 0.3);
        border-radius: 0.3em;
        color: #fff;
        width: 550px;
        padding: 36px;
        p {
          font-size: 2em;
          font-family: bebas neue;
        }
      }
    }
    .about {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      .about-first,
      .about-second {
        width: 80%;
        justify-content: space-between;
        padding: 36px;
        margin-bottom: 96px;
        .caption-first {
          align-items: flex-end;
          text-align: end;
        }
        .caption-first,
        .caption-second {
          display: flex;
          flex-direction: column;
          width: 700px;
          h2 {
            font-size: 4em;
            span {
              color: #ef233c;
            }
          }
          p {
            font-size: 1.5em;
          }
        }
        img {
          height: auto;
          width: 700px;
          border-radius: 0.5em;
        }
      }
      .about-first {
        display: flex;
      }
      .about-second {
        display: flex;
        flex-direction: row-reverse;
      }
    }
    .booking {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .form-box {
        background-color: #fff;
        width: 50%;
        padding: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 1000px;
        .form-switch {
          width: 40%;
          display: flex;
          justify-content: space-evenly;
          span {
            font-size: 1.3em;
            text-transform: capitalize;
          }
          .Switch_slider__oNE9r {
            background-color: #ef233c !important;
          }
        }
        form {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          button {
            border: none;
            background-color: #ef233c;
            color: white;
            font-weight: bold;
            padding: 16px;
            font-size: 24px;
            border-radius: 0.3em;
          }
          .full-width {
            grid-column-start: 1;
            grid-column-end: 3;
          }
          .form-group {
            display: flex;
            flex-direction: column;
            margin: 16px;
            input,
            textarea,
            select {
              padding: 8px;
              background-color: #edf2f4;
            }
            textarea {
              height: 100px;
              border: none;
            }
            label {
              color: #111a2f;
              font-family: Bebas Neue;
              font-size: 1.3em;
            }
          }
        }
      }
      .booking-header {
        z-index: 2;
        background-color: #ef233c;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        border-radius: 0.5em;
        padding: 2em;
        box-shadow: 0.625rem 2.75rem 3.375rem 0 rgba(217, 4, 41, 0.3); //#d90429;
        h1 {
          font-family: Bebas Neue;
          text-transform: uppercase;
          color: #f4f9fb;
          font-size: 3.5em;
          text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
        }
      }
    }
    .services {
      display: flex;
      justify-content: center;
      .services-list {
        h1 {
          margin-top: 0;
        }
        ul {
          list-style-type: none;
          padding-left: 0;
          li {
            font-size: 2.5em;
            font-family: Bebas Neue;
            margin-bottom: 4px;
          }
        }
      }
      .service-icons {
        display: grid;
        grid-template-columns: repeat(3, 350px);

        .serv-block {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;
          img {
            //transform: scale(0.8);
            width: 300px;
            height: auto;
          }
          span {
            color: #707070;
            text-transform: uppercase;
            font-size: 2.5em;
          }
        }
      }
      h1 {
        font-size: 64px;
      }
    }
    .partners {
      min-height: 60vh;
      h1 {
        text-transform: uppercase;
        font-size: 64px;
      }
      div {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 16px;
        div {
          display: flex;
          justify-content: center;
          img {
            height: 300px;
            width: auto;
          }
        }
      }
    }
    .find {
      display: flex;
      justify-content: space-around;
      align-items: center;
      .contact-info {
        .info-block {
          h2 {
            font-family: Bebas Neue;
            font-size: 1.5em;
          }
          .opening {
            display: flex;
            justify-content: space-between;
            ul {
              padding-inline-start: 0;

              list-style-type: none;
              li {
                text-transform: uppercase;
                margin: 8px;
                font-size: 1.5em;
              }
            }
          }
        }
      }
      .maps {
        img {
          border-radius: 0.3em;
          box-shadow: 0.625rem 2.75rem 3.375rem 0 rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
  .footer {
    color: #edf2f4;
    background-color: #8d99ae;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .social {
      svg {
        margin: 16px;
      }
    }
  }
}
form {
  .form-group {
    display: flex;
    padding: 4px;
    flex-direction: column;
    label {
      color: #fff;
    }
    input,
    select {
      font-size: 1.5em;
      border: none;
      border-radius: 0.1em;
    }
  }
}

.contact {
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    label {
      color: #181818;
    }
    button {
      width: 80%;
    }
  }
}

@media only screen and (min-width: 768px) {
}
