@import url("https://fonts.googleapis.com/css?family=Fugaz+One|Oxygen:300&display=swap");
html {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
html::-webkit-scrollbar {
  width: 0;
  height: 0;
}
body {
  background-color: #f1ebdb;
}

.App {
  min-height: 100vh;
  position: relative;
  .nav {
    display: flex;
    justify-content: space-around;
    padding: 24px;
    .links {
      display: flex;
      flex: 1;
      justify-content: space-evenly;
      font-family: Oxygen;
    }
    img {
      flex: 1;
    }
  }
  font-family: Fugaz One;
  .section {
    min-height: 100vh;
  }
  .hero {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url("./images/hero.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1,
    p,
    h2 {
      margin: 0;
    }
    h2 {
      font-size: 7em;
      text-transform: uppercase;
      color: rgba(90, 85, 85, 0.774);
    }
    h1 {
      color: rgba(255, 255, 255, 0.6);
      font-size: 9em;
      text-transform: uppercase;
    }
    p {
      font-size: 2em;
      font-family: Oxygen;
      color: white;
    }
  }
  .about {
    display: flex;
    justify-content: center;
    padding: 128px;
    align-items: center;
    .about-text {
      flex: 1;
      padding: 52px;
      h1 {
        text-transform: uppercase;
      }
      p {
        font-family: Oxygen;
        font-size: 24px;
      }
    }

    img {
      flex: 1;
      height: 500px;
      border-radius: 0.5em;
    }
  }

  .services,
  .insurance {
    display: flex;
    flex-direction: column;
    align-items: center;
    .service-icons {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 8px;
      .serv-block {
        border: 4px dashed #c69c6d;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        img {
          transform: scale(0.8);
        }
        span {
          color: #707070;
          text-transform: uppercase;
          font-size: 2.5em;
        }
      }
    }
    h1 {
      font-size: 64px;
      color: #707070;
      text-transform: uppercase;
    }
  }
  .insurance {
    h3 {
      font-family: Oxygen;
      text-transform: uppercase;
    }
    .ins-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 20px;
      .ins-block {
        border: 4px dashed #c69c6d;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 16px;
        img {
          height: 150px;
        }
        span {
          //width: 4em;
          font-size: 20px;
          font-family: Oxygen;
        }
      }
    }
  }
  .partners {
  }
  .contact {
    display: flex;
    padding: 64px;
    .contact-form {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      .form-group {
        display: flex;
        flex-direction: column;
        margin: 16px;
        width: 40vw;
        input,
        textarea {
          padding: 8px;
          background: none;
          border: 1px dashed #707070;
        }
        textarea {
          height: 100px;
        }
      }
      flex: 1;
    }
    .contact-info {
      flex: 1;
    }
  }
}

footer {
  font-family: Oxygen;
  background-color: #7b7a67;
  display: flex;
  justify-content: center;
}

.partners {
  .InfiniteCarouselFrame {
    img {
      width: 400px;
      height: auto;
    }
    ul {
      display: flex !important;
      align-items: center;
    }
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
